
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.license_img {

    position: absolute;
    width: 35vw;
    height:  35vh;
    right:  0vw;
    top: 15vh;

}

.license_text {

    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    text-align: left;

}

@media screen and (max-width:  1920px) {

    #expiration {

        right: 16vw;
        top: 26.5vh;
        position: absolute;

    }

    #lastname {

        right: 17vw;
        top: 28vh;
        position: absolute;

    }

    #firstname {

        right: 17.5vw;
        top: 29.5vh;
        position: absolute;

    }

    #dob {

        right: 16vw;
        top: 32.5vh;
        position: absolute;

    }

    #gender {

        right: 18vw;
        top: 37vh;
        position: absolute;

    }

    #issued {

        right: 10vw;
        top: 39.5vh;
        position: absolute;

    }

}

@media screen and (min-width:  2560px) {

    #expiration {

        right: 17vw;
        top: 27vh;
        position: absolute;

    }

    #lastname {

        right: 18vw;
        top: 28.5vh;
        position: absolute;

    }

    #firstname {

        right: 18.5vw;
        top: 30vh;
        position: absolute;

    }

    #dob {

        right: 17vw;
        top: 33.25vh;
        position: absolute;

    }

    #gender {

        right: 18vw;
        top: 37.75vh;
        position: absolute;

    }

    #issued {

        right: 10vw;
        top: 40.5vh;
        position: absolute;

    }

}
