
body {

    /*background-color: black;*/

}

.container-background {

    margin-top: 10vh;
    height: 80vh;
    background-color: rgba(38, 143, 58, 0.8);
    border-radius: 6px;

}

.content-tiles {

    margin-left: 7% !important;
    margin-top: 5% !important;

}

tr:hover {
    background-color: rgba(38, 143, 58, 0.8);
    color:  white;
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(38, 143, 58, 0.8);
  border-radius: 4px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}